@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body {
background: url('../images/back.jpg') no-repeat;
background-color: black;
padding: 0.1px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
margin: 0;


}

#copy {
    position: fixed;
}

#logo  {
width: 350px;
height: 350px;
margin-top: 200px; 
position: absolute; 
left: 16px; 
right: 0; 
bottom: 20%;
margin-left: auto; 
margin-right: auto;
z-index: -1;
opacity: 0.5;
border-radius: 50%;
transition: 1s;
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
animation: move 5s infinite;
}



#logo:hover {

width: 420px;
height: 420px;


}

#fb {
position: fixed;
height: 60px;
float: left;
transition: 1s;
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
z-index: 3;
}

#fb:hover {


-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}


#label {
float: right;
}

#nav1 {

width: 100%;
margin: 0 auto;
text-align: center;
position: fixed;
z-index: +2;
background-color: black;
opacity:0.8;
}

li{
display: inline;
text-decoration: none;
font-size: 40px;
margin:  40px; 
border-bottom: 1px solid antiquewhite;
border-left: solid 10px transparent; 
border-right: solid 10px transparent; 
filter: drop-shadow(10 0 30px #333);
}

a {
text-decoration: none;
color: #fdd34f;
font-family: 'Dancing Script', cursive;
-webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
transition: color 2s; 
margin-top: 100px;
}

a:hover {
color: antiquewhite;
}

iframe {
position: relative;
padding: 40px;
top: 10rem;
right: 7rem;
width: 30rem;
height: 30rem;
float: right;
border-radius: 10%;
opacity: 0.8;
border: 0.5px solid white;
}

#intro   {
position: relative;
width: 30rem;
background-color: grey;
height: 30rem;
padding: 40px;
opacity: 0.6;
border-radius: 8%;
border: 2px solid white;
clear: both;
float: left;
color:beige;
font-size: 1.4rem;
font-family: 'Sorts Mill Goudy', cursive;
text-align: justify;
top: 10rem;
left: 7rem;
}

#line {
position: relative;
height: 0.3px;
border: 0.3px solid #fd53;
background-color: gainsboro;
}

footer {
position: absolute;
top: 96%;
    font-size: 20px;
}

audio {
width: 20%;
position: fixed;
top: 0.5rem;
left: 5rem;
z-index: 5;
border-radius: 30px;

}

#about {
width: 50%;
height: auto;
background-color: gainsboro;
border: 3px solid white;
padding: 40px;
border-radius: 25px;
margin: 150px auto;
font-family:'Roboto slab', cursive;
opacity: 0.6;
font-size: 25px;
text-align: justify;
}


@media (max-width: 1400px) {


iframe {
 
width: 20rem;
height: 500px;
float: right;
border-radius: 10%;
margin-right: 0px;
opacity: 0.8;
border: 0.5px solid white;
    
}

#intro   {
    position: relative;
    width: 20rem;
    background-color: grey;
    height: 500px;
    padding: 40px;
    opacity: 0.6;
    border-radius: 8%;
    border: 2px solid white;
    clear: both;
    float: left;
    color:beige;
    font-size: 1.2rem;
    font-family: 'Sorts Mill Goudy', cursive;
    text-align: justify;
    top: 10rem;
    left: 7rem;
    }

#logo  {
width: 200px;
height: 200px;
margin-top: 200px; 
position: absolute; 
left: 16px; 
right: 0; 
bottom: 20%;
margin-left: auto; 
margin-right: auto;
z-index: -1;
opacity: 0.5;
border-radius: 50%;
transition: 1s;
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
animation: move 5s infinite;
}



#logo:hover {
width: 300px;
height: 300px;
}

audio {
width: 30%;
height: 40px;
left: 50%;
margin-left: -15%;
top: 5.5rem;
border-radius: 30px;  
}

    li{
display: inline;
text-decoration: none;
font-size: 30px;
margin:  10px; 
border-bottom: 1px solid antiquewhite;
border-left: solid 10px transparent; 
border-right: solid 10px transparent; 
filter: drop-shadow(10 0 30px #333);
}
    

#about {
width: 80%;
height: auto;
background-color: gainsboro;
border: 3px solid white;
padding: 40px;
border-radius: 25px;
margin: 150px auto;
font-family:'Roboto slab', cursive;
opacity: 0.6;
font-size: 25px;
text-align: justify;
}

}


@media (max-width: 1027px) {
    
    #intro   {
        position: relative;
        width: 80%;
        margin: 0 auto;
        float: none; 
        background-color: grey;
        height: 25rem;
        padding: 40px;
        font-size: 1.5rem;
        top: 2rem;
        left: 0;
        border-radius: 10px;
      
        }
    
iframe {
    position: relative;
    display: block;
    width: 80%;
    height: 27rem;
    top: 2.5rem;
    float: none;
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    }
  
    

    
    audio {
        width: 30%;
        height: 30px;
        left: 50%;
        margin-left: -15%;
        top: 4.7rem;
        border-radius: 30px;  
        }
    
    
    
    #logo:hover {
    width: 300px;
    height: 300px;
    }
    
 
        #about {
    width: 80%;
    height: auto;
    background-color: gainsboro;
    border: 3px solid white;
    padding: 40px;
    border-radius: 25px;
    margin: 150px auto;
    font-family:'Roboto slab', cursive;
    opacity: 0.6;
    font-size: 25px;
    text-align: justify;
    }
    
    }


    @media (max-width: 700px) { 

        li{
            font-size: 17px;
            margin:  3px; 
            }  

        audio {
            position: absolute;
            width: 80%;
            height: 30px;
            left: 50%;
            top: 5rem;
            margin-left: -40%;
            z-index: 0;
            border-radius: 30px;  
            }

        #label {
            display: none;
        }

        #intro {
            width: 60%;
            border-radius: 10px;
            top: 8rem;
            font-size: 90%;
        }

        iframe {
            width: 60%;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 50px;
            top: 9rem;
        }

        #copy {
          bottom: -13px;
          font-size: 15px;
         
          
            
        }

    }

    @media (max-width: 250px) { 

        #intro {
            font-size: 75%;
        }

        @media (max-width: 350px) { 

            #intro {
                display: none;
            }

            iframe {
                display: none;
            }

    }

}


    
